:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #13227a 20%, #8991bd); /* 深蓝色渐变 */

  --vp-home-hero-image-background-image: linear-gradient(-40deg, #13227a 20%, #ffffff 50%); /* 深蓝和白色渐变 */

  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.content img {
  display: block; /* 确保图像为块级元素 */
  margin: 0 auto; /* 自动左右外边距以实现居中 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  border-radius: 4px; /* 可选：使边角圆润 */
}


.content strong{
  color: #4b5cc4;
  padding: 0 3px; /* 增加左右间距 */
}